body {
	width: 100%;
	min-height: 1vh;
	padding: 0;
	margin: 0;
	background: #f3f2ed;
}

article.message form {
	display: inline-block;
}

nav input[type="submit"] {
    display: inline;
    margin-right: 5px;
}

article.message > nav > * {
	margin: 5px;
}

article.message p {
	white-space: pre-wrap;
}

div.titles p {
	white-space: pre-wrap;
}

div.head-banner {
	max-width: calc(100% - 20px);
	padding: 10px;
	height: 300px;
	background-image: url(/img/background.webp);
	border: 5px double black;
	background-size: 100%;
	background-position: bottom;
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	max-width: 100%;
}

div.head-banner p {
	font-size: 50px;
	display: block;
	font-weight: bold;
	background: #e2dcec;
	padding: 30px;
	border-radius: 10px;
	border: 5px solid black;
	font-style: italic;
}

nav.main-menu {
	width: 100%;
	background: #d34e4e;
	height: fit-content;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
}

nav.main-menu a.circle {
	position: absolute;
	top: 5px;
	left: 5px;
	display: inline-block;
}

nav.main-menu a.circle div.circle {
	background-image: url(/favicon.ico);
    background-size: 100% 100%;
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 50%;
}

nav.main-menu a {
	display: inline-block;
	color: black;
}

nav.main-menu a.link:hover {
    background: blue;
    color: white;
}

nav.main-menu a.link:nth-of-type(2) {
	margin-left: 40px;
}

@media (max-width: 460px) {
	nav.main-menu a.link:nth-of-type(3n + 2) {
		margin-left: 40px;
	}
}

@media (max-width: 530px) {
	div.head-banner {
		background-size: 180%;
	}
	div.head-banner p {
		font-size: 30px;
	}
}

@media (max-width: 530px) and (min-width: 460px) {
	nav.main-menu a.link:nth-of-type(4n + 2) {
		margin-left: 40px;
	}
}

nav.main-menu a.link {
	height: 20px;
	background: #f9e7b2;
	padding: 5px;
	margin-top: 5px;
	border-radius: 5px;
	margin-left: 0;
	margin-right: 5px;;
}

div.list-topics > article,
	div.list-topic-messages > article {
	background: #ecf3f9;
	padding: 20px;
	border-radius: 5px;
	border: solid 5px black;
	margin: 20px;
	box-shadow: 10px 10px #c2d8d3;
}

div.titles > * {
	margin: 20px;
}

div.titles {
	background: #eeeeff;
	border: solid 5px black;
	margin: 20px;
	box-shadow: 10px 10px #317873;
}

div.titles > nav > form > * {
	display: inline-block;
	margin: 5px;
}

div.titles > nav > * {
	display: inline-block;
	margin: 5px;
}

div.new-message-topic {
	background: #fff5ee;
	border: solid 5px black;
	margin: 20px;
	box-shadow: 10px 10px #29ab87;
}

div.new-message-topic > * {
	margin: 5px;
}

div.shadow {
	box-shadow: 10px 10px #c2d8d3;
}

form > * {
	margin-top: 5px;
}

form > label {
	display: inline-block;
	width: 150px;
	vertical-align: top;
}

form textarea {
	max-width: calc(100% - 15px);
	margin-right: 7.5px;
}

form div.message-area textarea {
    max-width: 50%;
    display: inline-block;
}

div.message-preview {
    max-width: 50%;
    display: inline-block;
    vertical-align: top;
}

div#canvas-container:fullscreen {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
}

div#canvas-container:fullscreen canvas {
    width: 100%;
    height: 80vw;
}

@media (min-aspect-ratio: 3/4) {
    width: 80%;
    height: 60vw;
}

@media (min-aspect-ratio: 5/4) {
    div#canvas-container:fullscreen canvas {
        width: 120vh;
        height: 100%;
    }
}

button.gba-button {
    display: none;
    color: white;
    background: rgba(10, 5, 15, 0.2);
    width: 80px;
    height: 80px;
}

button.gba-button:hover {
    background: rgba(150, 130, 160, 0.9);
}

div#canvas-container:fullscreen button.gba-button {
    display: block;
    position: fixed;
}

button.gba-button {
    font-size: 2rem;
    border-radius: 50%;
}

button.gba-button-a {
    right: 30px;
    bottom: 90px;
}
button.gba-button-b {
    right: calc(30px + 70px);
    bottom: 20px;
}
button.gba-button-pad-up {
    left: 100px;
    bottom: 180px;
}

button.gba-button-pad-left {
    left: 20px;
    bottom: 100px;
}

button.gba-button-pad-right {
    left: 180px;
    bottom: 100px;
}

button.gba-button-pad-down {
    left: 100px;
    bottom: 20px;
    
}

button.gba-button-pad-super {
    left: 20px; 
    bottom: 20px;
    width: 240px;
    height: 240px;
    border: none;
}


button.gba-button-start {
    left: calc(50% + 5px);
    bottom: 20px;
    font-size: 1rem;
    width: 60px;
    height: 40px;
    font-size: 0.8rem;
}

button.gba-button-select {
    left: calc(50% - 85px);
    bottom: 20px;
    font-size: 1rem;
    width: 60px;
    height: 40px;
    font-size: 0.8rem;
}

button.gba-button-r {
    right: 10px;
    top: 10px;
    width: 200px;
    border-radius: 0;
}

button.gba-button-l {
    left: 10px;
    top: 10px;
    width: 200px;
    border-radius: 0;
}

div#canvas-container:fullscreen button.gba-button.gba-button-pad {
    border-radius: 15px;
}

@media (max-width: 459px) {
    button.gba-button {
        width: 50px;
        height: 50px;
    }
    button.gba-button-pad {
        width: 60px;
        height: 60px;
    }
    button.gba-button-pad-super {
        width: 180px;
        height: 180px;
    }
    button.gba-button-pad-down {
        left: 80px;
    }
    button.gba-button-pad-left {
        bottom: 80px;
    }
    button.gba-button-pad-right {
        left: 140px;
        bottom: 80px;
    }
    button.gba-button-pad-up {
        left: 80px;
        bottom: 140px;
    }
    button.gba-button-a {
        width: 80px;
        height: 80px;
    }

    button.gba-button-b {
        width: 80px;
        height: 80px;
    }

    button.gba-button-start {
        bottom: 200px;
        width: 80px;
        height: 40px;
    }
    button.gba-button-select {
        bottom: 200px;
        width: 80px;
        height: 40px;
    }
}

div#canvas-container {
    width: 100%;
    max-width: 900px;
}

canvas#screen {
    width: 80%;
    
}

@media (max-aspect-ratio: 4 / 3) {
    button.gba-button-start {
        height: 40px;
        width: 80px;
        font-size: 1rem;
        left: calc(50% + 5px);
        bottom: 280px;
    }
    button.gba-button-select {
        height: 40px;
        width: 80px;
        font-size: 1rem;
        left: calc(50% - 85px);
        bottom: 280px;
     }
    button.gba-button-r {
        width: 120px;
        top: auto;
    }

    button.gba-button-r {
        width: 120px;
        top: auto;
        bottom: 330px;
    }
    button.gba-button-l {
        width: 120px;
        top: auto;
        bottom: 330px;
    }
}
div.controls button {
    height: 1rem;
}

div.save {
    display: inline-block;
}
